<div class="row">
    <div *ngFor="let images of resultados"
         class="col-md-4 col-sm-6 animate__animated animate__fadeIn">

        <div class="card">
            <img [src]="images.previewURL" 
                 [alt]="images.tags"
                 class="card-img-top">
            <div class="card-body">
                <p class="card-text">
                    {{ images.tags }}
                </p>
                <p class="card-text">
                    {{ images.views }}
                </p>
                <p class="card-text">
                    {{ images.likes }}
                </p>
            </div>
        </div>

    </div>
</div>

